<footer id="footer-contacts" class="footer">
  <div class="container">
    <p class="visually-hidden">Footer</p>
    <div class="footer-check">
      <div class="flex-foot">
        <a class="footer-logo" href="./footer.html">
          <svg class="footer-logo-svg">
            <use href="/img/sprite.svg#icon-Logo"></use>
          </svg>
        </a>
        <p class="footer-text">
          Subscribe to our newsletter for the latest updates on our yoga classes
          and events.
        </p>
        <form class="footer-subscribe-form">
          <label class="footer-subscribe-label">
            <input
              type="email"
              class="footer-subscribe-input"
              name="email"
              placeholder="Your email here"
              required
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            />
          </label>
          <button type="submit" class="footer-subscribe-btn">Join</button>
        </form>
      </div>
      <label class="modal-check-text">
        By subscribing, you consent to our Privacy Policy and agree to receive
        updates.
      </label>
      <p class="footer-copyright-desktop">
        © 2025 Yoga Studio. All rights reserved.
      </p>
    </div>

    <div class="footer-links">
      <div class="footer-section">
        <p class="footer-links-text">Quick Links</p>
        <ul class="footer-links-list">
          <li class="footer-links-item"><a href="#yoga-classes">Yoga Classes</a></li>
          <li class="footer-links-item"><a href="#team">Team</a></li>
          <li class="footer-links-item"><a href="#price">Pricing</a></li>
          <li class="footer-links-item"><a href="#footer-contacts">Contacts</a></li>
        </ul>
      </div>
      <div class="footer-section-media">
        <p class="footer-links-text">Connect With Us</p>
        <div class="icons-footer">
          <ul class="footer-media-list">
            <li class="footer-media-item">
              <a class="footer-media-icon" href="https://www.facebook.com/">
                <svg class="footer-icons" width="24" height="24">
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
              <a href="https://www.facebook.com/" class="media-text">Facebook</a>
            </li>
            <li class="footer-media-item">
              <a class="footer-media-icon" href="https://www.instagram.com">
                <svg class="footer-icons" width="24" height="24">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
              <a href="https://www.instagram.com" class="media-text">Instagram</a>
            </li>
            <li class="footer-media-item">
              <a class="footer-media-icon" href="https://www.linkedin.com/">
                <div class="footer-container-link">
                  <svg class="footer-icons" width="24" height="24">
                    <use href="/img/sprite.svg#icon-linkedin"></use>
                  </svg>
                </div>
              </a>
              <a href="https://www.linkedin.com/" class="media-text">LinkedIn</a>
            </li>
            <li class="footer-media-item">
              <a class="footer-media-icon" href="https://www.youtube.com/">
                <svg class="footer-icons" width="24" height="24">
                  <use href="/img/sprite.svg#icon-Youtube"></use>
                </svg>
              </a>
              <a href="https://www.youtube.com/" class="media-text">Youtube</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="footer-copyright">© 2025 Yoga Studio. All rights reserved.</p>
  </div>
</footer>
