<section class="gallery">
  <div class="container">
    <h2 class="gallery-title">Breathe in the Space</h2>
    <p class="gallery-text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/DeskGalerryImage1.jpg    1x,
              /img/gallery/DeskGalerryImage1@2x.jpg 2x
            "
            width="421"
            height="448"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/TabGalerryImage1.jpg    1x,
              /img/gallery/TabGalerryImage1@2x.jpg 2x
            "
            width="340"
            height="290"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/MobGalerryImage1.jpg    1x,
              /img/gallery/MobGalerryImage1@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-img"
            src="/img/gallery/MobGalerryImage1.jpg"
            width="155"
            height="155"
            alt="Group doing yoga poses"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/DeskGalerryImage2.jpg    1x,
              /img/gallery/DeskGalerryImage2@2x.jpg 2x
            "
            width="421"
            height="448"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/TabGalerryImage2.jpg    1x,
              /img/gallery/TabGalerryImage2@2x.jpg 2x
            "
            width="340"
            height="290"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/MobGalerryImage2.jpg    1x,
              /img/gallery/MobGalerryImage2@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-img"
            src="/img/gallery/MobGalerryImage2.jpg"
            width="155"
            height="155"
            alt="Instructor leading meditation"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/DeskGalerryImage3.jpg    1x,
              /img/gallery/DeskGalerryImage3@2x.jpg 2x
            "
            width="421"
            height="448"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/TabGalerryImage3.jpg    1x,
              /img/gallery/TabGalerryImage3@2x.jpg 2x
            "
            width="340"
            height="290"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/MobGalerryImage3.jpg    1x,
              /img/gallery/MobGalerryImage3@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-img"
            src="/img/gallery/MobGalerryImage3.jpg"
            width="155"
            height="155"
            alt="Yoga studio with props"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/DeskGalerryImage4.jpg    1x,
              /img/gallery/DeskGalerryImage4@2x.jpg 2x
            "
            width="421"
            height="448"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/TabGalerryImage4.jpg    1x,
              /img/gallery/TabGalerryImage4@2x.jpg 2x
            "
            width="340"
            height="290"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/MobGalerryImage4.jpg    1x,
              /img/gallery/MobGalerryImage4@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-img"
            src="/img/gallery/MobGalerryImage4.jpg"
            width="155"
            height="155"
            alt="Yoga room with sunlight"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/DeskGalerryImage5.jpg    1x,
              /img/gallery/DeskGalerryImage5@2x.jpg 2x
            "
            width="421"
            height="448"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/TabGalerryImage5.jpg    1x,
              /img/gallery/TabGalerryImage5@2x.jpg 2x
            "
            width="340"
            height="290"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/MobGalerryImage5.jpg    1x,
              /img/gallery/MobGalerryImage5@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-img"
            src="/img/gallery/MobGalerryImage5.jpg"
            width="155"
            height="155"
            alt="Group meditating on mats"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/DeskGalerryImage6.jpg    1x,
              /img/gallery/DeskGalerryImage6@2x.jpg 2x
            "
            width="421"
            height="448"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/TabGalerryImage6.jpg    1x,
              /img/gallery/TabGalerryImage6@2x.jpg 2x
            "
            width="340"
            height="290"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/MobGalerryImage6.jpg    1x,
              /img/gallery/MobGalerryImage6@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-img"
            src="/img/gallery/MobGalerryImage6.jpg"
            width="155"
            height="155"
            alt="Woman meditating in front"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
