<section class="gallery">
  <div class="container">
    <h2 class="gallery-title">Breathe in the Space</h2>
    <p class="gallery-text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/deskgalerryimageone.jpg    1x,
              /img/gallery/deskgalerryimageone@2x.jpg 2x
            "
            width="421"
            height="448"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/tabgalerryimageone.jpg    1x,
              /img/gallery/tabgalerryimageone@2x.jpg 2x
            "
            width="340"
            height="290"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/mobgalerryimageone.jpg    1x,
              /img/gallery/mobgalerryimageone@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-img"
            src="/img/gallery/mobgalerryimageone.jpg"
            width="155"
            height="155"
            alt="Group doing yoga poses"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/deskgalerryimagetwo.jpg    1x,
              /img/gallery/deskgalerryimagetwo@2x.jpg 2x
            "
            width="421"
            height="448"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/tabgalerryimagetwo.jpg    1x,
              /img/gallery/tabgalerryimagetwo@2x.jpg 2x
            "
            width="340"
            height="290"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/mobgalerryimagetwo.jpg    1x,
              /img/gallery/mobgalerryimagetwo@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-img"
            src="/img/gallery/mobgalerryimagetwo.jpg"
            width="155"
            height="155"
            alt="Instructor leading meditation"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/deskgalerryimagethr.jpg    1x,
              /img/gallery/deskgalerryimagethr@2x.jpg 2x
            "
            width="421"
            height="448"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/tabgalerryimagethr.jpg    1x,
              /img/gallery/tabgalerryimagethr@2x.jpg 2x
            "
            width="340"
            height="290"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/mobgalerryimagethr.jpg    1x,
              /img/gallery/mobgalerryimagethr@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-img"
            src="/img/gallery/mobgalerryimagethr.jpg"
            width="155"
            height="155"
            alt="Yoga studio with props"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/deskgalerryimagefour.jpg    1x,
              /img/gallery/deskgalerryimagefour@2x.jpg 2x
            "
            width="421"
            height="448"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/tabgalerryimagefour.jpg    1x,
              /img/gallery/tabgalerryimagefour@2x.jpg 2x
            "
            width="340"
            height="290"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/mobgalerryimagefour.jpg    1x,
              /img/gallery/mobgalerryimagefour@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-img"
            src="/img/gallery/mobgalerryimagefour.jpg"
            width="155"
            height="155"
            alt="Yoga room with sunlight"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/deskgalerryimagefive.jpg    1x,
              /img/gallery/deskgalerryimagefive@2x.jpg 2x
            "
            width="421"
            height="448"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/tabgalerryimagefive.jpg    1x,
              /img/gallery/tabgalerryimagefive@2x.jpg 2x
            "
            width="340"
            height="290"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/mobgalerryimagefive.jpg    1x,
              /img/gallery/mobgalerryImagefive@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-img"
            src="/img/gallery/mobgalerryimagefive.jpg"
            width="155"
            height="155"
            alt="Group meditating on mats"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/deskgalerryimagesix.jpg    1x,
              /img/gallery/deskgalerryimagesix@2x.jpg 2x
            "
            width="421"
            height="448"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/tabgalerryimagesix.jpg    1x,
              /img/gallery/tabgalerryimagesix@2x.jpg 2x
            "
            width="340"
            height="290"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/mobgalerryimagesix.jpg    1x,
              /img/gallery/mobgalerryimagesix@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-img"
            src="/img/gallery/mobgalerryimagesix.jpg"
            width="155"
            height="155"
            alt="Woman meditating in front"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
