<header class="header">
  <div class="container header-container">

    
      
      <button class="burger-btn">
      
        <svg width="16" height="18">
          <use href="../img/sprite.svg#icon-menu"></use>
        </svg>
          </button>

<nav class="header-nav">
      <ul class="link-menu-dsk">
        <li><a href="#yoga-classes" class="link-menu-list yoga-classes">Yoga Classes</a></li>
        <li><a href="#team" class="link-menu-list">Team</a></li>
        <li><a href="#testimonials" class="link-menu-list">Testimonials</a></li>
        <li><a href="#price" class="link-menu-list">Pricing</a></li>
        <li><a href="#footer-contacts" class="link-menu-list">Contacts</a></li>
    
      </ul>
    </nav>
<a href="./index.html" class="logo-header">
  <img src="../img/img header/CompanyLogo.png" alt="Logo" 
  srcset="../img/img header/CompanyLogo.png 1x, 
  ../img/img header/CompanyLogo@2x.png 2x" width="83" height="23" />
</a>
 <a href="#price">
  <button class="btn-desktop">Join Now</button>
  <button class="btn-mobile">Join</button>
</a>
  </div>
</header>
