<header class="header">
  <div class="container header-container">
    <button class="burger-btn" data-menu-open>
      <svg width="16" height="18">
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <nav class="header-nav">
      <ul class="link-menu-dsk">
        <li>
          <a href="#yoga-classes" class="link-menu-list yoga-classes-header" 
            >Yoga Classes</a
          >
        </li>
        <li><a href="#team" class="link-menu-list">Team</a></li>
        <li><a href="#testimonials" class="link-menu-list">Testimonials</a></li>
        <li><a href="#price" class="link-menu-list">Pricing</a></li>
        <li><a href="#footer-contacts" class="link-menu-list">Contacts</a></li>
      </ul>
    </nav>
    <a href="./index.html" class="logo-header">
      <svg width="84" height="36">
        <use href="/img/sprite.svg#icon-Logo"></use>
      </svg>
    </a>
    <a href="#price" class="btn-desktop"> Join Now </a>
    <a href="#price" class="btn-mobile"> Join </a>
  </div>
</header>
