<div class="mobile-menu mob-is-open">
  
    <div class="header-mobile-menu">

<ul class="mob-menu-head">

            <li><button class="menu-close-btn">

                    <svg width="12" height="12">
                        <use href="/img/sprite.svg#icon-close"></use>
                    </svg>
                </button>
            </li>
            <li>
                <a href="./index.html">
                    <img src="/img/img-header/CompanyLogo.png" alt="Logo" srcset="/img/img-header/CompanyLogo.png 1x, 
  /img/img-header/CompanyLogo@2x.png 2x" width="83" height="23">
                </a>
            </li>
            <li>
                <a href="#price" class="btn-desktop">
                    Join Now
                </a>
                <a href="#price" class="btn-mobile">
                    Join
                </a>
            </li>
        </ul>

      <div class="mob-menu-list-box">
        
        <ul class="mob-menu-list">
            <li><a href="#yoga-classes" class="link-menu-list">Yoga Classes</a></li>
            <li><a href="#team" class="link-menu-list">Team</a></li>
            <li><a href="#testimonials" class="link-menu-list">Testimonials</a></li>
            <li><a href="#price" class="link-menu-list">Pricing</a></li>
            <li><a href="#footer-contacts" class="link-menu-list">Contacts</a></li>

        </ul>

        <a href="#price" class="btn-mobile-menu-scnd">
            Join
        </a>
    </div>
    </div>
    </div>