<!-- Modal-one -->
<div class="menu-modal-overlay" data-modal-one>
  <div class="menu-modal-window">
    <button class="modal-button-close" type="button" data-modal-one-close>
      <svg class="modal-svg-close" height="16" width="16">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-text">One Session</p>
    <p class="modal-text-price">$10</p>
    <form>
      <div class="modal-form-container">
        <label for="user-name-one" class="label-popup">Your Name</label>
        <input
          class="form-input"
          type="text"
          name="user-name"
          id="user-name-one"
          placeholder="Liam"
        />
      </div>
      <div class="modal-date">
        <div class="modal-form-container date">
          <label for="user-email-one" class="label-popup">Email</label>
          <input
            class="form-input"
            type="email"
            name="useremail"
            id="user-email-one"
            placeholder="hello@yogabloom.com"
          />
        </div>
        <div class="modal-form-container date">
          <label for="user-phone-one" class="label-popup">Phone number</label>
          <input
            class="form-input"
            type="tel"
            name="userphone"
            id="user-phone-one"
            placeholder="+380 (95) 123 12 12"
          />
        </div>
      </div>
      <button class="button-modal-submit" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
<!-- Modal two -->
<div class="menu-modal-overlay" data-modal-two>
  <div class="menu-modal-window">
    <button class="modal-button-close" type="button" data-modal-two-close>
      <svg class="modal-svg-close" height="16" width="16">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-text">8 Sessions Package</p>
    <p class="modal-text-price">$65</p>
    <form>
      <div class="modal-form-container">
        <label for="user-name-two" class="label-popup">Your Name</label>
        <input
          class="form-input"
          type="text"
          name="user-name"
          id="user-name-two"
          placeholder="Liam"
        />
      </div>
      <div class="modal-date">
        <div class="modal-form-container date">
          <label for="user-email-two" class="label-popup">Email</label>
          <input
            class="form-input"
            type="email"
            name="useremail"
            id="user-email-two"
            placeholder="hello@yogabloom.com"
          />
        </div>
        <div class="modal-form-container date">
          <label for="user-phone-two" class="label-popup">Phone number</label>
          <input
            class="form-input"
            type="tel"
            name="userphone"
            id="user-phone-two"
            placeholder="+380 (95) 123 12 12"
          />
        </div>
      </div>
      <button class="button-modal-submit" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
<!-- Modal three -->
<div class="menu-modal-overlay" data-modal-three>
  <div class="menu-modal-window">
    <button class="modal-button-close" type="button" data-modal-three-close>
      <svg class="modal-svg-close" height="16" width="16">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-text">12 Sessions Package</p>
    <p class="modal-text-price">$80</p>
    <form>
      <div class="modal-form-container">
        <label for="user-name-three" class="label-popup">Your Name</label>
        <input
          class="form-input"
          type="text"
          name="user-name"
          id="user-name-three"
          placeholder="Liam"
        />
      </div>
      <div class="modal-date">
        <div class="modal-form-container date">
          <label for="user-email-three" class="label-popup">Email</label>
          <input
            class="form-input"
            type="email"
            name="useremail"
            id="user-email-three"
            placeholder="hello@yogabloom.com"
          />
        </div>
        <div class="modal-form-container date">
          <label for="user-phone-three" class="label-popup">Phone number</label>
          <input
            class="form-input"
            type="tel"
            name="userphone"
            id="user-phone-three"
            placeholder="+380 (95) 123 12 12"
          />
        </div>
      </div>
      <button class="button-modal-submit" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
