<section class="pricing">
    <div class="container">
        <p class="pricing-litl-title">Affordable</p>
        <h2 class="pricing-title">Pricing Plans</h2>
        <p class="pricing-text">Choose the perfect plan for your yoga journey.</p>
        <ul class="pricing-card">
            <li class="pricing-card-item">
                <h3 class="pricing-card-title">One Session</h3>
                <p class="pricing-card-item-price">$10</p>
                <ul class="pricing-card-list">
                    <li class="pricing-card-info">
                        <svg width="18" height="13">
                            <use href="/img/sprite.svg#icon-done">
                            </use>
                        </svg>                        
                        1 group session
                    </li>
                    <li class="pricing-card-info">
                        <svg width="18" height="13">
                            <use href="/img/sprite.svg#icon-done">
                            </use>
                        </svg>
                        10% discount for next 2 Sessions
                    </li>
                    <li class="pricing-card-info">
                        <svg width="18" height="13">
                            <use href="/img/sprite.svg#icon-done">
                            </use>
                        </svg>
                        Community support group
                    </li>
                </ul>
            </li>
            <li class="pricing-card-item">
                <h3 class="pricing-card-title">8 Sessions Package</h3>
                <p class="pricing-card-item-price">$65</p>
            </li>
            <li class="pricing-card-item">
                <h3 class="pricing-card-title">12 Sessions Package</h3>
                <p class="pricing-card-item-price">$80</p>
            </li>
        </ul>
</section>
