<section class="pricing">
    <div class="container">
        <p class="pricing-litl-title">Affordable</p>
        <h2 class="pricing-title">Pricing Plans</h2>
        <p class="pricing-text">Choose the perfect plan for your yoga journey.</p>
        <ul class="pricing-card">
            <li class="pricing-card-item">
                <h3 class="pricing-card-title">One Session</h3>
                <p class="pricing-card-item-price">$10</p>
            </li>
            <li class="pricing-card-item">
                <h3 class="pricing-card-title">8 Sessions Package</h3>
                <p class="pricing-card-item-price">$65</p>
            </li>
            <li class="pricing-card-item">
                <h3 class="pricing-card-title">12 Sessions Package</h3>
                <p class="pricing-card-item-price">$80</p>
            </li>
        </ul>
</section>
