<section class="pricing" id="price">
    <div class="container">
        <p class="pricing-litl-title">Affordable</p>
        <h2 class="pricing-title">Pricing Plans</h2>
        <p class="pricing-text">Choose the perfect plan for your yoga journey.</p>
        <ul class="pricing-card">
            <li class="pricing-card-item">
                <h3 class="pricing-card-title">One Session</h3>
                <p class="pricing-card-item-price">$10</p>
                <ul class="pricing-card-list">
                    <li class="pricing-card-info">
                        <svg width="18" height="13">
                            <use href="/img/sprite.svg#icon-done">
                            </use>
                        </svg>                        
                        1 group session
                    </li>
                    <li class="pricing-card-info">
                        <svg width="18" height="13">
                            <use href="/img/sprite.svg#icon-done">
                            </use>
                        </svg>
                        10% discount for next 2 Sessions
                    </li>
                    <li class="pricing-card-info">
                        <svg width="18" height="13">
                            <use href="/img/sprite.svg#icon-done">
                            </use>
                        </svg>
                        Community support group
                    </li>
                </ul>
                <button type="button" class="pricing-card-button">Join</button>
            </li>
            <li class="pricing-card-item">
                <h3 class="pricing-card-title">8 Sessions Package</h3>
                <p class="pricing-card-item-price">$65</p>
                <ul class="pricing-card-list">
                    <li class="pricing-card-info">
                        <svg width="18" height="13">
                            <use href="/img/sprite.svg#icon-done">
                            </use>
                        </svg>
                        6 Group Sessions
                    </li>
                    <li class="pricing-card-info">
                        <svg width="18" height="13">
                            <use href="/img/sprite.svg#icon-done">
                            </use>
                        </svg>
                        2 Individual Sessions
                    </li>
                    <li class="pricing-card-info">
                        <svg width="18" height="13">
                            <use href="/img/sprite.svg#icon-done">
                            </use>
                        </svg>
                        Priority customer support
                    </li>
                </ul>
                <button type="button" class="pricing-card-button">Join</button>
            </li>
            <li class="pricing-card-item">
                <div class="pricing-card-item-full-price">
                    <h3 class="pricing-card-title pricing-card-title-last">12 Sessions Package</h3>
                    <p class="pricing-card-item-price">$80</p>
                </div>
                <div class="pricing-card-full">
                    <ul class="pricing-card-list-full">
                        <li class="pricing-card-info">
                            <svg width="18" height="13">
                                <use href="/img/sprite.svg#icon-done">
                                </use>
                            </svg>
                            8 Group Sessions
                        </li>
                        <li class="pricing-card-info">
                            <svg width="18" height="13">
                                <use href="/img/sprite.svg#icon-done">
                                </use>
                            </svg>
                            4 Individual Sessions
                        </li>
                        <li class="pricing-card-info pricing-card-info-hidden">
                            <svg width="18" height="13">
                                <use href="/img/sprite.svg#icon-done">
                                </use>
                            </svg>
                            Access to advanced classes
                        </li>
                        <li class="pricing-card-info">
                            <svg width="18" height="13">
                                <use href="/img/sprite.svg#icon-done">
                                </use>
                            </svg>
                            Monthly yoga challenges
                        </li>
                        <li class="pricing-card-info">
                            <svg width="18" height="13">
                                <use href="/img/sprite.svg#icon-done">
                                </use>
                            </svg>
                            Exclusive member discounts
                        </li>
                        <li class="pricing-card-info">
                            <svg width="18" height="13">
                                <use href="/img/sprite.svg#icon-done">
                                </use>
                            </svg>
                            Community support group
                        </li>
                    </ul>
                    <button type="button" class="pricing-card-button">Join</button>
                </div>
            </li>
        </ul>
</section>
