<section id="#yoga-classes" class="yoga-classes">
  <div class="program-container">
    <div class="program-main">
      <small class="program-small">Explore</small>
      <h2 class="program-h2">Discover Our Most Popular Yoga Programs</h2>
      <p class="program-subtitle">
        Join our community and elevate your practice with our expertly designed
        yoga programs. Each course is tailored to meet various skill levels and
        personal goals.
      </p>
    </div>

    <ul class="programs">
      <li class="program-card">
        <img
          class="program-image"
          src="./images/first-yoga-classes.jpg"
          srcset="./images/first-yoga-classes@2x.jpg 2x"
          alt="Group Yoga"
        />
        <div class="program-card-content">
          <h3 class="program-h3">Beginner Yoga: Foundations</h3>
          <p>Learn the basics of yoga in a supportive environment.</p>
        </div>
      </li>

      <li class="program-card">
        <img
          class="program-image"
          src="./images/second-yoga-classes.jpg"
          alt="Solo Yoga"
        />
        <div class="program-card-content">
          <h3 class="program-h3">Vinyasa Flow: Energize Your Body and Mind</h3>
          <p class="program-paragraph">
            Experience a dynamic sequence that connects breath and movement.
          </p>
        </div>
      </li>

      <li class="program-card">
        <img
          class="program-image"
          src="./images/third-yoga-classes.jpg"
          srcset="
            ./images/third-yoga-classes.jpg    1x,
            ./images/third-yoga-classes@2x.jpg 2x
          "
          alt="Restorative Yoga Pose"
        />
        <div class="program-card-content">
          <h3 class="program-h3">
            Restorative Yoga: Deep Relaxation and Healing
          </h3>
          <p class="program-paragraph">
            Unwind and rejuvenate with gentle poses and mindfulness.
          </p>
        </div>
      </li>
    </ul>
    <a href="#price">
      <button class="program-button">Join now</button>
    </a>
  </div>
</section>
