<section id="#yoga-classes" class="yoga-classes">
  <div class="container">
      <p class="program-small">Explore</p>
      <h2 class="program-h2">Discover Our Most Popular Yoga Programs</h2>
      <p class="program-subtitle">
        Join our community and elevate your practice with our expertly designed
        yoga programs. Each course is tailored to meet various skill levels and
        personal goals.
      </p>
    

    <ul class="programs">
      <li class="program-card">
        <img
          class="program-image"
          src="/img/first-yoga-classes.jpg"
          srcset="/img/first-yoga-classes.jpg 1x,
          /img/first-yoga-classes@2x.jpg 2x"
          alt="Group Yoga"
        />
        <div class="program-card-content">
          <h3 class="program-h3">Beginner Yoga: Foundations</h3>
          <p>Learn the basics of yoga in a supportive environment.</p>
        </div>
      </li>

      <li class="program-card">
        <img
          class="program-image"
          src="/img/second-yoga-classes.jpg"
          srcset="/img/second-yoga-classes.jpg 1x,
          /img/second-yoga-classes@2x.jpg 2x"
          alt="Solo Yoga"
        />
        <div class="program-card-content">
          <h3 class="program-h3">Vinyasa Flow: Energize Your Body and Mind</h3>
          <p class="program-paragraph">
            Experience a dynamic sequence that connects breath and movement.
          </p>
        </div>
      </li>

      <li class="program-card">
        <img
          class="program-image"
          src="/img/third-yoga-classes.jpg"
          srcset="
            /img/third-yoga-classes.jpg 1x,
            /img/third-yoga-classes@2x.jpg 2x"
          alt="Restorative Yoga Pose"
        />
        <div class="program-card-content">
          <h3 class="program-h3">
            Restorative Yoga: Deep Relaxation and Healing
          </h3>
          <p class="program-paragraph">
            Unwind and rejuvenate with gentle poses and mindfulness.
          </p>
        </div>
      </li>
    </ul>
    <div class="program-btn-wrapper">
      <a href="#price" class="program-button-mob">Join</a>
      <a href="#price" class="program-button">Join now</a>
    </div>
  </div>
</section>


