*,
::after,
::before {
  box-sizing: border-box;
}

body {
    font-family: "Sarabun", sans-serif;
    font-weight: medium;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f2fafa;
    color: #0d0b0a;
    scroll-behavior: smooth;
}


