/* Header */
.header-container {
    display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 375px;
        max-height: 64px;
        position: relative;
        }

.burger-btn {
    top: 16px;
    right: 16px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.header-nav {
    display: none;
}

.logo-header {
    margin-top: 14px;
    margin-bottom: 14px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.burger-btn:hover,
.burger-btn:focus {
    color: #38598b; }

  .btn-mobile {
   display: inline-block;
border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 4px 20px;
    width: 74px;
    height: 34px;
    background: #c2d9fc;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        }

  .btn-mobile:hover,
  .btn-mobile:focus     {
    background-color: #88b6fb;
  } 
  
  
 .btn-desktop {
       display: none;
   }


/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
.header-container {
        max-width: 768px;   }

 .btn-desktop {
            display: inline-block;  
            border: 1px solid #c2d9fc;
                border-radius: 100px;
                padding: 8px 20px;
                min-width: 105px;
                min-height: 42px;
                background: #c2d9fc;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.6; 
                }
 .btn-mobile {
            display: none;   } 

    .btn-desktop:hover,
    .btn-desktop:focus {
 background-color: #88b6fb;
   }          
    
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1336px) {

.header-container {
    max-width: 1336px;
    padding: 15px 64px;
}
.header-nav {
     display: inline-block;
}

 .link-menu-dsk  {
 display: flex;
 flex-direction: row;
 flex-direction: space-around;
  align-items: center;  
  gap: 32px;
font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
       
 }

 .burger-btn {
    display: none;
 }



 .yoga-classes {
   
    border-bottom: 2px solid rgba(13, 11, 10, 0.5);
        width: 89px;
        height: 26px;
 }


 .link-menu-list:hover,
 .link-menu-list:focus {
    color: #497dcc;
 }

 .btn-mobile {
    display: none; }

 .logo-header {
            margin-left: auto;  
        margin-right: auto;     }


}


