:root {
    --font-family: "Sarabun", sans-serif;
    --second-family: "Cabin", sans-serif;
    --third-family: "Roboto", sans-serif; }

/* Hero */
.hero-container {
    max-width: 375px;
    padding: 0;
}

.hero-back-image {
    background-image: url(../img/placeholder-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 375px;
    height: 301px;
}
 
.hero-content {
    display: flex;
    flex-direction: column;
    padding: 48px 16px;
    gap: 20px;
}
.dv-hero-title{
    padding: 0;
}
.hero-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color:#0d0b0a;
    
}
.hero-dscr{
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.hero-text{
    font-family:var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
}

.hero-buttons{
  display: flex;
  flex-direction: column;
  gap: 16px;

}
.button-join{
    border: 1px solid #c2d9fc;
        border-radius: 100px;
        padding: 10px 0;
        text-align: center;
        height: 46px;
        background: #c2d9fc;
        margin-right: 14px;
}
.button-learn-more{
    border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 100px;
        padding: 10px 0;
        text-align: center;
        height: 46px;
        background: rgba(13, 11, 10, 0.05);
        margin-right: 14px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .hero-container {
        max-width: 768px;
    }
    
    .hero-back-image {
        width: 768px;
        height: 359px;
    }
        .hero-content {
            padding: 24px 0 24px 32px;
            gap:8px;
        }
    .dv-hero-title{
        margin-right: 92px;
        padding-right: 221px;
    }
    .hero-title{
       
    }

    .hero-text{
        font-size: 18px;
        margin-top: 8px;
    }
        
    .hero-buttons{
        flex-direction: row;
        margin: 32px 336px 24px 32px;
    }
    
    .button-join{
        width: 144px;
        height: 46px;
        padding: 10px 24px;
    }
        .button-learn-more{
            width: 144px;
                height: 46px;
                padding: 10px 24px;
        }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1336px) {
    .hero-container {
        max-width: 1440px;
    }

    .hero-back-image {
        width: 1440px;
        height: 684px;
    }
}

/* Retina */
@media only screen and (min-resolution: 192dpi) {
    .hero-back-image {
        background-image: url(../img/placeholder-image@2x.jpg);
    }
   }