/* Team  */

/*


@media only screen and (min-width: 768px) {}


@media only screen and (min-width: 1336px) {}


@media only screen and (min-resolution: 192dpi) {}

*/
.team {
    padding: 64px 0;
}



.team-subtitle {
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;
}

.team-title {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 20px;
}


.team-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 48px;
}

.team-grid {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.team-card {
    background: transparent;
    border-radius: 16px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.team-card-picture {
    margin-bottom: 20px;
}
.team-card-picture img {
    min-width: 343px;
    border-radius: 16px;
}
.team-card h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.team-card .role {
    font-weight: 400;
    text-align: center;
    margin-bottom: 12px;
}

.team-card .bio {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.team-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

.media-container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}



/* Tablet: 768px */
@media only screen and (min-width: 768px) {
    .team {
        padding: 40px 0 0 0;
    }
    .team-subtitle {
        margin-bottom: 16px;
    }
    .team-title {
        font-size: 52px;
        margin-bottom: 24px;
    }
    .team-description {
        font-size: 18px;
        margin-bottom: 40px;
    }
    .team-grid {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        align-items: flex-start;
        
    }
    .team-card {
        width: calc((100% - 24px) / 2)
    }
    .team-card-picture {
        
        margin-bottom: 24px;
    }
    .team-card h3 {
        font-size: 22px;
    }
    .team-card .role {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .team-card .bio {
        margin-bottom: 24px;
    }
    .team-socials {
        gap: 14px;
    }
        
    
}

/* Desktop: 1336px+ */
@media only screen and (min-width: 1440px) {
    .team {
        padding: 112px 0;
    }
    .team-title {
        font-size: 52px;
    }
    .team-grid {
        align-items: center;
        justify-content: space-between;
        row-gap: 64px;
        column-gap: 24px;
    }

    .team-card {
        width: calc((100% - 48px) / 3);
    }
}
   





/* Загальні стилі для всіх SVG */
.media-container-icon svg {
    width: 24px;
    height: 24px;
    fill: #0D0B0A;
    transition: fill 0.2s ease;
}

/* --- LinkedIn: чорний фон, біла іконка, закруглення 10% --- */
.media-container-icon.linkedin {
    background-color: #0D0B0A;
    border-radius: 10%;
    padding: 4px;
    width: 26px;
    height: 26px;
}

.media-container-icon.linkedin svg {
    fill: #fff;
    width: 18px;
    height: 18px;
}

.media-container-icon.linkedin:hover,
.media-container-icon.linkedin:focus {
    background-color:#4D5664;
    transition: background-color 0.3s ease;
}

.media-container-icon.linkedin:hover svg,
.media-container-icon.linkedin:focus svg {
    fill: #fff;
    background-color: #4D5664;
    stroke: #4D5664;
    transition: fill 0.3s ease, background-color 0.3s ease;
}

.media-container-icon.facebook:hover svg,
.media-container-icon.facebook:focus svg {
    fill: #fff;
    stroke:  #4D5664;
}

/* --- Instagram: кругла, змінюється тільки svg --- */
.media-container-icon.instagram {
    border-radius: 50%;
    transition: fill 0.3s ease;
}

.media-container-icon.instagram:hover svg,
.media-container-icon.instagram:focus svg {
    fill: #4D5664;
    stroke: #fff;
    transition: fill 0.3s ease;
}