/* Testimonials */

.testimonials {
padding-top: 64px;
padding-bottom: 64px;
}


.tm-title {
  font-family: "Cabin", sans-serif;
    font-weight: 400;
        font-size: 52px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        text-align: center;
        margin-bottom: 20px;}

.tm-title-text {
    font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        text-align: center;
        margin-bottom: 24px;
}


.tm-list {
     display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 24px;
} 

.tm-item {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
     justify-content: center;
    background: #dfebeb;
    border-radius: 24px;
        padding: 12px;
        width: 343px;
       }

.tm-text {
    font-weight: 400;
        font-size: 22px;
        line-height: 1.6;
        text-align: center;
        
}

.tm-avatar-box {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        width: 300px;
        height: 125px;
        }


.tm-name {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.6;
        text-align: center;
       
}

.tm-avatar-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
     }

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .testimonials {
        padding: 40px 0;
    }

    .tm-title {
        margin-bottom: 24px;
    }
                     
    .tm-item {
        width: 704px;  }

    .tm-item:nth-child(1),
    .tm-item:nth-child(2) {
        height: 356px;
        } 
    .tm-item:nth-child(3),
    .tm-item:nth-child(4) {
        height: 321px;
    }
    .tm-item:nth-child(2),
    .tm-item:nth-child(3) {
            justify-content: space-between;
            gap: 0px;  
        }
  
   .tm-item:nth-child(1),
    .tm-item:nth-child(4) {
        gap: 32px;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1336px) {
    .tm-container {
        
        padding-top: 112px;
    padding-bottom: 112px;}

.tm-list {
   
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    
     }

    .tm-item {
        width: calc((100% - 24px) / 2);
        }

     .tm-item:hover,
    .tm-item:focus
      {
    transform: scale(1.05);
    transition: cubic-bezier(0.075, 0.82, 0.165, 0.25);
    
    }
        .tm-title {
     margin: bottom 24px;
    }

}
